<p>
  home works!
</p>
<!--<label for="productPic">Product Pictuer</label>
<br/>
<p-fileUpload id="productPic" name="producPic" [url]="uploadUrl" 
    multiple="multiple" accept="image/*" auto="auto" (onUpload)="onUploaded($event)" (onError)="onUploadedError($event)">
        <template pTemplate type="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
            </ul>
        </template>
</p-fileUpload>-->
